@using SportsStore.WebUI.HtmlHelpers
@model Blog.Models.PostsListViewModel
@{
    ViewBag.Title = "Blog";
}
    @foreach (var post in Model.Posts)
    {

        <div class="well" style="margin-top: 2%">
            <h1>@post.Title</h1>
            <h4>@post.CreationDateTime</h4>
            <span style="text-justify: auto">@post.Content</span><br/>
            @Html.ActionLink("Skomentuj", "Details","Post",  new { post.Id}, new {@class="btn btn-default"} )
        </div>
    }
    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, m => Url.Action("List", "Post", new {page = m}))
    </div>