@{
    ViewBag.Title = "Edycja";
    Layout = "~/views/shared/_Admin_Layout.cshtml";
}
@model Blog.Domain.Entities.Post

<h2>Kreator posta</h2>
<hr/>

@using (Html.BeginForm("Edit", "Admin"))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Title)<br />  
            @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})     
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Category)
            @Html.TextBoxFor(m => m.Category)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Content)<br/>
            @Html.TextAreaFor(m => m.Content, new {@class ="form-control", rows=5})

        </div>
        
        <div class="form-group">
            <input type="submit" value="Dodaj" class="btn btn-primary"/>
            @Html.ActionLink("Powrót", "Index", "Admin", null, new {@class="btn btn-warning"})
        </div>

    </div>

}
